/* General body and font styling */
body {
    font-family: 'Roboto', sans-serif; /* Consider including this font from Google Fonts */
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Global button styling for a uniform look */
button {
    padding: 10px 15px;
    background-color: #5CDB95;
    color: #05386B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #379683;
    transform: translateY(-2px);
}

/* Container styles for shadow and border radius */
#containerMenu, #containerContent {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s;
}

#containerMenu:hover, #containerContent:hover {
    box-shadow: 0 4px 25px rgba(0,0,0,0.15);
}

/* Styling headings for a bit of flair */
h2 {
    text-align: center;
    color: #05386B;
    font-weight: normal;
    position: relative;
}

h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 3px;
    background-color: #5CDB95;
    border-radius: 2px;
}

/* Input field styling */
input[type="text"],
input[type="email"],
input[type="password"],
#searchInput {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #EDF5E1;
    border-radius: 5px;
    width: calc(100% - 24px); /* Adjusts for padding */
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
#searchInput:focus {
    border-color: #5CDB95;
    outline: none;
}

/* Enhancing the flashcard input experience */
.flashcardInput {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.flashcardInput input[type="text"] {
    flex: 1;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .flashcardInput {
        flex-direction: column;
    }

    .flashcardInput input[type="text"] {
        width: 100%;
    }
}

/* Checkbox customization 
#visibilityToggle {
    accent-color: #5CDB95;
} */

#MenuButton {
    text-align: center; /* Centers inline elements within */
}

#MenuButton button {
    display: inline-block; /* Allows buttons to be inline but also block-level for styling */
    margin: 0 5px; /* Optional: Adjusts spacing between buttons */
    /* Your existing button styles */
    padding: 10px 15px;
    background-color: #5CDB95;
    color: #05386B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

#MenuButton button:hover {
    background-color: #379683;
    transform: translateY(-2px);
}

/* Label styling for better readability */
label {
    color: #05386B;
    font-weight: bold;
}
